.postContainer, .comment, .commentForm {
    background-color: white;
    padding: 25px;
    margin: 15px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.postContainer {
    padding: 25px;
    margin: 30px 0;
    margin-bottom: 50px;
}
.postBody { font-size: 18pt; text-align: justify }
.postFooter {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
 
.commentsContainer { margin: 20px 0 }
.commentTop {
    display: flex;
    align-items: center;
    margin-bottom: 20;
}
.commentForm { width: 100% }